.project
.settings
.classpath
.svn
target
*/target
*/*/target
*.iml
*.ec
*.ipr
*.iws
*.swp
*~
.DS_Store
.idea/
*/target/
*.iml
*.ec
*.ipr
*.iws
*.swp
*~
*.sql
*.sqlite
git.properties
*-ide-plugin.xml

# Python stuff #
################
*.pyc
*.egg-info
dist
build
develop-eggs
eggs
parts
.installed.cfg
logs
*.MainThread-*
*.pid
*.pid.lock
test/.coverage
test/coverage.xml
test/nosetests.xml

# Ruby stuff #
################
Gemfile.lock
